{{!-- header.hbs --}}
<h1>{{title}} Page</h1>
<div class="header">
    <a class="Index" href="/">Index</a>
    <a class="About" href="/about/">About</a>
    <a class="Help" href="/help/">Help</a>
    <a class="Weather" href="/weather/">Weather</a>
</div>